{% set yucca_in_situ_updater_need_js = 1 %}
<button data-yucca-form-href="{{ url('yucca_in_situ_updater_form',{'form_name':form_name, 'ids':ids, 'add':1}) }}">
    {{ ('Add ' ~ form_name) | trans({}, 'in_situ')}}
</button>
